.login {
    margin-top:50px;
}

.row-spacing-sm{
    margin-top: 20px;
}

.row-padding-md {
    padding-top: 35px;
}

.row-padding-sm {
    padding-top: 20px;
}

.padding-bottom-sm{
    padding-bottom: 20px;
}

.login-header {
    padding: 10px 10px 10px 10px;
    border-radius: 20px 20px 0px 0px;
    background-color: royalblue;
    color: floralwhite;
    font-size: 1.3em;
}

.login-body {
    background-color: floralwhite;
    border-radius: 0px 0px 20px 20px;
}
