.login {
    margin-top:50px;
}

.row-spacing-sm{
    margin-top: 20px;
}

.row-padding-md {
    padding-top: 35px;
}

.row-padding-sm {
    padding-top: 20px;
}

.padding-bottom-sm{
    padding-bottom: 20px;
}

.login-header {
    padding: 0px 0px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    font-size: 1.3em;
}

.login-body {
    background-color: floralwhite;
    border-radius: 0px 0px 20px 20px;
    display: block;
}

.register-body {
    background-color: floralwhite;
    border-radius: 0px 0px 12px 12px;
    display: none;
}

.hoverable:hover{
    cursor: pointer;
}

.body-padding {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
}